body{
text-align:center;
font-family:Arial;
background:#f4f4f4;
}

h1{
margin-top:20px;
}

.wheel-container{
margin:auto;
width:520px;
}

canvas{
border:6px solid #333;
border-radius:50%;
background:white;
}

.controls{
margin-top:20px;
}

input{
padding:8px;
font-size:16px;
}

button{
padding:10px 20px;
margin:5px;
font-size:16px;
background:#ff9800;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#e68900;
}

#result{
margin-top:20px;
font-size:24px;
color:#333;
}
